* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
  transition: ease;
}

*:focus {
  outline: 0 !important;
}

.Main {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../assets/bg3.jpg");
  background-size: cover;
  overflow: hidden !important;
}

.Main_Sub {
  height: 90vh;
  width: 90vw;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(240, 240, 240, 0.45);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden !important;
}

.Notification_text {
  color: "pink";
  font-size: 1.5em;
}

/*ADD PART START*/

.Add {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 2vh;
}

.Add_Sub {
  height: 80%;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(240, 240, 240, 0.45);
  border-radius: 10px;
}

.Add_Sub button {
  height: 50px;
  width: 120px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.95);
  color: black;
  font-weight: 700;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  z-index: 1;
  /* margin-right: 0.5vw; */
  outline: none;
  outline-width: 0;
  border: none;
}

.Add_Sub button:hover {
  backdrop-filter: blur(5px) saturate(20%);
  -webkit-backdrop-filter: blur(5px) saturate(20%);
  background-color: rgba(50, 248, 255, 0.45);
  transition: 0.5s ease;
}
.Add_Sub input {
  height: 90%;
  width: 90%;
  border: none;
  outline: none;
  background: none;
  color: black;
  font-size: 1.5em;
}

.Add_Sub input::placeholder {
  color: rgb(109, 109, 109);
}

/*ADD PART END*/

/*FILTER PART START*/

.Filter {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

.Filter .TopFilter {
  height: 50%;
  width: 95%;
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas: "input select";
}

.Filter .TopFilter input {
  grid-area: input;
  height: 60%;
  width: 95%;
  border: none;
  outline: none;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.25);
  color: black;
  font-size: 1.5em;
  border-radius: 10px;
  padding: 5px;
  padding-left: 15px;
  font-size: 1em;
}

.Filter .TopFilter select {
  grid-area: select;
  height: 60%;
  width: 95%;
  border: none;
  outline: none;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.25);
  color: black;
  font-size: 1.5em;
  border-radius: 10px;
  padding: 5px;
  padding-left: 15px;
  margin-left: 2vw;
  font-size: 1em;
}

.Filter .Filter_Buttons {
  height: 20%;
  width: 30%;
  position: absolute;
  right: 0;
  bottom: 3vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2.5vw;
}

.Filter .Filter_Buttons button:first-child {
  height: 30px;
  width: 150px;
  max-width: 300px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.95);
  color: black;
  font-weight: 700;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  outline-width: 0;
  border: none;
  margin-right: 2vw;
}

.Filter .Filter_Buttons button {
  height: 30px;
  width: 110px;
  max-width: 300px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.65);
  color: black;
  font-weight: 700;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  outline-width: 0;
  border: none;
}

.Filter .Filter_Buttons button:hover {
  backdrop-filter: blur(5px) saturate(20%);
  -webkit-backdrop-filter: blur(5px) saturate(20%);
  background-color: rgba(50, 248, 255, 0.45);
  transition: 0.5s ease;
}

/*FILTER PART END*/

/*DISPLAY PART START*/

.Display {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  overflow: hidden;
  overflow-y: hidden;
}
.Display .Display_Sub {
  height: 100%;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow: auto;
}

.Display .Display_Sub .Cards {
  height: 15vh;
  min-height: 15vh;
  width: 95%;
  backdrop-filter: blur(5px) saturate(20%);
  -webkit-backdrop-filter: blur(5px) saturate(20%);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  margin: 10px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 85% 15%;
  grid-template-rows: 100%;
  grid-template-areas: "textpart sub_buttons";
  transition: 0.6s ease;
}

.Display .Display_Sub .Cards:hover {
  backdrop-filter: blur(5px) saturate(20%);
  -webkit-backdrop-filter: blur(5px) saturate(20%);
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 10px;
}

.Display .Display_Sub .Cards .cardText {
  grid-area: textpart;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

.Display .Display_Sub .Cards .cardText .cardText_Sub {
  grid-area: textpart;
  height: 90%;
  width: 100%;
  max-height: auto;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  padding: 10px;
  overflow: hidden;
  text-align: justify;
}

.Display .Display_Sub .Cards .cardText .cardText_Sub p {
  color: black;
  font-size: 1em;
}

.Display .Display_Sub .Cards .cardButtons {
  grid-area: sub_buttons;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Display .Display_Sub .Cards .cardButtons .cardButton_Sub {
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: 50% 50%;
  grid-template-columns: 100%;
  grid-template-areas:
    "top_buttons"
    "bottom_button";
}

.Display .Display_Sub .Cards .cardButtons .cardButton_Sub .sub_Button {
  grid-area: top_buttons;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 5px;
  padding-right: 5px;
}

.sub_Button button {
  height: 40px;
  width: 20px;
  border-radius: 50%;
  background: rgb(237, 237, 237);
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  color: black;
  transition: 0.8s ease;
}

.Display .Display_Sub .Cards .cardButtons .cardButton_Sub .DoneButton {
  grid-area: bottom_button;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.DoneButton button {
  height: 30px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  color: black;
  border-radius: 5px;
}

/*DISPLAY PART END*/

/* Scrollbar Styling */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
}

@media screen and (max-width: 550px) {
  .Add {
    height: 20%;
    width: 100%;
  }

  .Add_Sub {
    height: 50%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(240, 240, 240, 0);
    border-radius: 30px;
  }

  .Add_Sub button {
    height: 30px;
    width: 110px;
    margin-top: 18vh;
    margin-right: 1vw;
  }

  .Add_Sub input {
    height: 40%;
    width: 90%;
    border: none;
    outline: none;
    background: none;
    color: black;
    font-size: 1.5em;
  }

  .Filter {
    height: 30%;
    width: 100%;
    position: relative;
  }

  .Filter .TopFilter {
    height: 70%;
    width: 95%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
      "input"
      "select";
  }

  .Filter .TopFilter input {
    grid-area: input;
    height: 60%;
    width: 95%;
    margin-left: 2vw;
  }

  .Filter .TopFilter select {
    grid-area: select;
    height: 60%;
    width: 95%;
  }

  .Filter .Filter_Buttons {
    height: 20%;
    width: 90%;
    position: absolute;
    right: 50;
    bottom: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 2.5vw;
  }

  .Display {
    height: 50%;
    width: 100%;
  }

  .Display .Display_Sub {
    height: 100%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden;
  }

  .Display .Display_Sub .Cards {
    height: 30vh;
    min-height: 30vh;
    width: 95%;
    backdrop-filter: blur(5px) saturate(20%);
    -webkit-backdrop-filter: blur(5px) saturate(20%);
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 30px;
    margin: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 100%;
    grid-template-rows: 80% 20%;
    grid-template-areas:
      "textpart"
      "sub_buttons";
  }

  .Display .Display_Sub .Cards .cardButtons .cardButton_Sub {
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    grid-template-areas: "top_buttons bottom_button";
    padding-bottom: 15px;
  }

  .sub_Button button {
    height: 38px;
    width: 15px;
    border-radius: 50%;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
  }

  .DoneButton button {
    height: 25px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
